[submodule "idevicerestore"]
	path = external/idevicerestore
	url = https://github.com/futurerestore/idevicerestore.git
	branch = dev
[submodule "tsschecker"]
	path = external/tsschecker
	url = https://github.com/1Conan/tsschecker.git
	branch = iOS16
